/* src/app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html,
body {
  @apply bg-zinc-950 text-white;
  font-family: 'Inter', sans-serif;
}

button {
  @apply transition-colors duration-200;
}
